DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=123
DB_HOST=postgres
DB_PORT=5432

LICENSE_PATH_DATETIME="https://127.0.0.1:8000/datetime/"

TIME_ZONE="Europe/Moscow"

# Celery
CELERY_BROKER_URL="redis://localhost:6379/0"
CELERY_RESULT_BACKEND="redis://localhost:6379/0"

# Redis
REDIS_CACHE_URL="redis://127.0.0.1:6379/1"

# License
LICENSE_CHECK_TIME_SECONDS="600"