[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = "*"
python-dotenv = "*"
djangorestframework = "*"

[dev-packages]
pre-commit = "*"
pre-commit-hooks = "*"
bandit = "*"
isort = "*"
mypy = "*"
yesqa = "*"
pyupgrade = "*"
black = "*"
flake8 = "*"
autoflake = "*"
pydocstringformatter = "*"
drf-yasg = "*"
djangorestframework = "*"
django-service-objects = "*"
python-dotenv = "*"
factory-boy = "*"
psycopg = "*"
django-cors-headers = "*"
djoser = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-querycount = "*"
rest-framework-simplejwt = "*"
decouple = "*"
drf-spectacular = "*"
django-crontab = "*"

[requires]
python_version = "3.11"
